<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты поиска</title>

</head>
<body>
    <div>
        <h1>Праздники на дату</h1>
        
        <div>
            <%= date %>
        </div>
        
        <% if (found) { %>
            <ol>
                <% holidays.forEach((holiday, index) => { %>
                    <li><%= holiday %></li> 
                <% }) %>
            </ol>
        <% } else { %>
            <div>
                <div> ! </div>
                <h3>Праздников не найдено</h3>
                <p>На выбранную дату праздники отсутствуют в базе данных.</p>
            </div>
        <% } %>
        
        <div>
            <a href="/" class="btn">Новый поиск</a>
        </div>
    </div>
</body>
</html>